USE [master]
GO
/****** Object:  Database [MVCTweetBot]    Script Date: 10/12/2016 11:43:19 p. m. ******/
CREATE DATABASE [MVCTweetBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCTweetBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER1\MSSQL\DATA\MVCTweetBot.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCTweetBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER1\MSSQL\DATA\MVCTweetBot_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCTweetBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCTweetBot]
GO
/****** Object:  Table [dbo].[BannedWords]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannedWords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bannedWord] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerKey] [nvarchar](255) NOT NULL,
	[ConsumerSecret] [nvarchar](255) NOT NULL,
	[AccessToken] [nvarchar](255) NOT NULL,
	[AccessTokenSecret] [nvarchar](255) NOT NULL,
	[Minutes] [int] NOT NULL,
	[RTCount] [int] NOT NULL,
	[TweetLimit] [int] NOT NULL,
	[FavLimit] [int] NOT NULL,
	[FollowLimit] [int] NOT NULL,
	[TweetCounter] [int] NOT NULL,
	[FavCounter] [int] NOT NULL,
	[FollowCounter] [int] NOT NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hashtags]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hashtag] [nchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[repeated] [int] NOT NULL,
 CONSTRAINT [PK_Hashtags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Links]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](140) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[sortOrder] [int] NOT NULL,
	[link] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SearchTerms]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchTerms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SearchTerm] [nvarchar](140) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweeted]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweeted](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](250) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[TweetId] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweets]    Script Date: 10/12/2016 11:43:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tweet] [nvarchar](140) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[tweeted] [int] NOT NULL,
 CONSTRAINT [PK_Tweets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Configuration] ADD  DEFAULT ((0)) FOR [TweetCounter]
GO
ALTER TABLE [dbo].[Configuration] ADD  DEFAULT ((0)) FOR [FavCounter]
GO
ALTER TABLE [dbo].[Configuration] ADD  DEFAULT ((0)) FOR [FollowCounter]
GO
ALTER TABLE [dbo].[Hashtags] ADD  CONSTRAINT [DF_Hashtags_repeated]  DEFAULT ((0)) FOR [repeated]
GO
ALTER TABLE [dbo].[Links] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[Tweets] ADD  CONSTRAINT [DF_Tweets_tweeted]  DEFAULT ((0)) FOR [tweeted]
GO
USE [master]
GO
